:root {
  --red: hsl(0, 78%, 62%);
  --violet: #ff81db;
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --pink:#EF476F;
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(0, 0%, 0%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

// body {
//   font-size: 15px;
//   font-family: 'Poppins', sans-serif;
//   background-color: var(--veryLightGray);
// }

.attribution { 
  font-size: 11px; text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

// h1:first-of-type {
//   font-weight: var(--weight1);
//   color: var(--varyDarkBlue);

// }

// h1:last-of-type {
//   color: var(--varyDarkBlue);
// }

// @media (max-width: 400px) {
//   h1 {
//       font-size: 1.5rem;
//   }
// }

.header {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 50px;
  margin-top: 100px;
}

.header p {
  margin: 0 auto;
  line-height: 2;
  color: var(--grayishBlue);
}


.box p {
  color: var(--grayishBlue);
}

.box {
  border-radius: 5px;
  box-shadow: 10px 10px 23px -8px var(--grayishBlue);
  padding: 30px;
  margin: 20px;
  background-color: darken($color: #fff, $amount: 1);
  color: black;
}

// .box img {
//   float: right;
// }

@media (max-width: 450px) {
  // .box {
  //   height: 200px;
  // }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
    text-align: center;
    // height: 250px;
  }
  
}

.orange {
  border-top: 3px solid var(--orange);
}
.red {
  border-top: 3px solid var(--red);
}
.blue {
  border-top: 3px solid var(--blue);
}
.pink{
  border-top: 3px solid var(--pink);
}
.violet {
  border-top: 3px solid var(--violet);
}

// h2 {
//   color: var(--varyDarkBlue);
//   font-weight: var(--weight3);
// }


@media (min-width: 950px) {
  .row1-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .row2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9rem;
  }
  .box-down {
    position: relative;
    top: 150px;
  }
  .box {
    width: 30%;
    min-width: 30%;
  }
  .header p {
    width: 30%;
  }
  
}