.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333;
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 99999;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #032038;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
.portfolio-bg {
  background-image: url("../img/header-bg/portfolio.svg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

li {
  list-style-type: none;
  padding: 0.5em;
}
li a {
  color: black;
  text-decoration: none;
}
li a:hover {
  color: #219ebc;
}

.img {
  height: 100%;
  max-height: 70vh;
  text-align: left;
}

.img-width {
  width: 100%;
  text-align: left;
}

.toc-list {
  padding-left: 0px;
}

.figma-iframe {
  width: 100%;
  max-width: 800px;
  min-height: 450px;
}